.App {
  font-size: 16px;
  text-align: center;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
  font-weight: 100;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0rem;
}

.App-vinyl, .App-flower {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 125px;
  margin-left: .2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-flower {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-vinyl {
  z-index: 2;
}

.App-flower {
  z-index: 1;
}

.text {
  margin-top: 20rem;
  padding: .2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    font-weight: 50;
  }

  p {
    font-size: 1rem;
    font-weight: 100;
  }

  .text {
    margin-top: 12rem;
  }

  .App-vinyl, .App-flower {
    height: 35vmin;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 1.4rem;
    font-weight: 50;
  }

  p {
    font-size: 1.3rem;
    font-weight: 100;
  }

  .text {
    margin-top: 5rem;
  }

  .App-vinyl, .App-flower {
    height: 45vmin;
  }
}

@media screen and (max-width: 400px) {
  .App-vinyl, .App-flower {
    height: 50vmin;
  }

  .text {
    margin-top: 7rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}